@import "../main";
@import "../navbar";
@import "../footer";
@import "../../adaptiveMode/adaptive";


.wrapper {
    width: 100%;
    max-width: 1610px;
    margin: 0 auto;
    padding: 0 0 75px;
    display: flex;
    gap: 25px;
}

.contact {
    display: flex;
    gap: 25px;
    align-items: flex-start;

    &__title {
        font-size: 170px;
        font-weight: 800;
        line-height: 207.23px;
        font-family: 'montserrat', sans-serif;
        width: 100%;
        max-width: 1610px;
        margin: 0 auto;
        padding: 0 15px;
        margin-top: 170px;
        text-transform: uppercase;
        letter-spacing: -10px;
    }

    &__map {
        background: #03393B;
        border-radius: 35px;
        padding: 40px;
        width: 100%;
        max-width: 630px;

        &_title {
            font-family: 'metric', sans-serif;
            font-size: 21px;
            font-weight: 500;
            line-height: 24.93px;
            text-align: left;
            margin-bottom: 35px;
            color: #ADFF00;
        }

        &_wrapper {
            border-radius: 15px;
        }

        &_img,
        iframe {
            width: 100%;

        }
    }

    &__details {
        width: 100%;
        max-width: 510px;
        display: grid;
        align-items: flex-start;
        grid-gap: 25px;

        &_social {
            background: #000000;
            padding: 40px;
            border-radius: 35px;

            &_title {
                font-family: 'metric', sans-serif;
                font-size: 21px;
                font-weight: 500;
                line-height: 24.93px;
                margin-bottom: 35px;
                color: #ADFF00;
            }

            &_wrapper {
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &_link {
                opacity: .5;

                &_icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        &_info {
            background: #A6FC00;
            border-radius: 35px;
            padding: 40px;

            &_title {
                font-family: 'metric', sans-serif;
                font-size: 21px;
                font-weight: 500;
                line-height: 24.93px;
                color: #000;
                margin-bottom: 25px;
            }

            &_phone {
                font-size: 47px;
                font-weight: 600;
                line-height: 57.29px;
                font-family: 'montserrat', sans-serif;
                margin-bottom: 8px;
                color: #000;
            }

            &_mail {
                display: block;
                font-family: 'montserrat', sans-serif;
                font-size: 25px;
                font-weight: 400;
                line-height: 30.48px;
                text-align: left;
                margin: 30px 0;
                color: #000;
            }

            &_adress {
                font-size: 25px;
                font-weight: 400;
                line-height: 30.48px;
                font-family: 'montserrat', sans-serif;
                color: #000;

                b {
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 30.48px;
                    font-family: 'montserrat', sans-serif;
                    color: #000;
                }
            }
        }
    }
}

.pic {
    margin-left: -90px;
    width: 470px;
    margin-top: -165px;

    &__img {
        width: 100%;
    }
}